.authors{
  .paragraph {
    transition: background-color 0.5s ease;
      &:hover {
        background-color: #ddf0e8;
        cursor: pointer;
    }
  }
  .image {
    text-align: center;
    img {
      max-width: 80%;
    }
  }
  .post-card{
    .header-img{
      width: 100%;
      height: 120px;
      background-size: cover;
      background-position: center;
    }
  }
}